.primary-button {
  background-color: #22c55e;
  padding: 8px 16px;
  border-radius: 6px;
  color: #f8f6ff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}
.light-button {
  background-color: #d5dae1;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
}
.container {
  width: 80%;
  margin: auto;
}
.text-center {
  text-align: center;
}
.section-title {
  display: inline;
  font-size: 12px;
  background-color: #dcfce7;
  color: #22c55e;
  border-radius: 45pc;
  padding: 2px 8px;
  font-weight: 500;
}
